body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(135deg, #00B7D4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    text-align: center;
    padding: 5vw; /* Se cambió a unidades relativas para ser más adaptable */
    margin: 0;
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal en dispositivos móviles */
    animation: fanimado 10s infinite;
    /*width: 100%;  Ajusta el ancho del body al 100% */
}


.login-container {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.title img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centrar horizontalmente */
}
.title{
    margin: 0;
}
.title h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000; /* Color del texto */
    font-size: 70px; /* Tamaño del texto */
    font-family: 'Georgia', serif; /* Utiliza una fuente serif para un aspecto más clásico */
    font-weight: normal; /* Puedes ajustar según tus preferencias */
    text-transform: uppercase; /* Puedes ajustar según tus preferencias */
   
}
.imagen1 img{
    width: 500px;
    height: 500px;
    position: relative;
    border: 8px solid #3498db; /* Grosor y color del borde */
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden; /* Para ocultar la parte del contenido que sobresale del marco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
    margin: 20px; /* Margen alrededor del marco */
}
.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px; /* Ajusta según sea necesario */
}
.descripcion{
    margin-right: 10px;
}
.contenedorfotos img{
    height: 400px;
    width: 330px;
    border-radius: 2rem;
}
.contenedorfotos{
    display: flex;
    align-items: flex-end;
}
.contenedorfotos div{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5rem;
}

.contenedorfinal h1{
    top: 50%;
    left: 50%;
    color: #000000; /* Color del texto */
    font-size: 70px; /* Tamaño del texto */
    font-family: 'Georgia', serif; /* Utiliza una fuente serif para un aspecto más clásico */
    font-weight: normal; /* Puedes ajustar según tus preferencias */
    text-transform: uppercase; /* Puedes ajustar según tus preferencias */
}
.contenedorfinal p{
    top: 50%;
    left: 50%;
    color: #000000; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    font-family: 'Georgia', serif; /* Utiliza una fuente serif para un aspecto más clásico */
    font-weight: normal; /* Puedes ajustar según tus preferencias */
    text-transform: uppercase; /* Puedes ajustar según tus preferencias */
}
.contenedorfinal{
    width: 100%;
    text-align: center;
}


.login-container {
    width: 90%; /* Cambiado a un porcentaje para ser más adaptable */
    max-width: 300px; /* Añadido un ancho máximo */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Otros estilos... */

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .body{
        width: 100%;
    }
    .title h1{
        font-size: 30px;
        margin: 0;
        width: 20px;
        height: 30px;
        left: 130px;
        top: 125px;
    }
    .title img{
        height: 200px;
    }
    .contenedor{
        width: 100%;
    }
    .contenedor img{
        height: 100px;
        width: auto;
    }

    .contenedorfotos img{
        height: 100px;
        width: auto;
    }
    .contenedorfotos div{
        margin-right: 25px;
        margin-left: 2px;
    }

    .contenedorfotos video{
       width: auto;
       height: 100px;
       margin-right: 25px;
    }
    .contenedorfinal h1{
        font-size: 40;
        width: auto;
    }


    /* Otros estilos específicos para dispositivos móviles... */
}
